.cayledshare-image {
  border-radius: 100px;
  height: 100px;
  width: 100px;
  margin: 3px;
}
.cayledshare-image:hover {
  box-shadow: 1px 1px 3px 1px green;
  transition: 0.5s;
}

p {
  color: rgb(26, 100, 100);
}
